<div>
    <app-searchbar></app-searchbar>
    
    <div class="flex-layout">
      <div *ngFor="let curso of cursos">
        <a style="text-decoration: none;" [href]="curso.url" target="_blank">
          <app-card-curso [titulo]="curso.titulo"
                          [autor]="curso.autor"
                          [imagen]="curso.imagen"
                          [avatar]="curso.avatar"
                          [descripcion]="curso.descripcion"
                          [url]="curso.url"
                          [horas]="curso.horas">
          </app-card-curso>
        </a>
      </div>
    </div>

  </div>