<mat-card class="curso-card">
    <mat-card-header>
      <div mat-card-avatar style="background-size: cover;" [ngStyle]="{'background-image': 'url(' + avatar + ')'}"></div>
      <mat-card-title class="title-text">{{ titulo }}</mat-card-title>
      <mat-card-subtitle class="mt-1 autor-text">{{ autor }}</mat-card-subtitle>
    </mat-card-header>
    <img class="mt-1 card-image" mat-card-image [src]="imagen">
    <mat-card-content>
      <p class="mt-1 description-text">
        {{ descripcion }}
      </p>

      <mat-divider></mat-divider>
      <mat-card-actions class="t-align-center center">
        <mat-icon class="mr-1">timer</mat-icon>
        <p class="time-number">{{ horas }} hs.</p>
      </mat-card-actions>
    </mat-card-content>
</mat-card>