<mat-card  class="mt-1 t-align-center">
    <mat-card-header>
      <mat-card-subtitle>Información General</mat-card-subtitle>
      <mat-card-title>Total de Cursos</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="mt-1">Cursos Realizados: {{ cursosRealizados }}</p>
      <p class="mb-1">Tiempo Empleado: {{ tiempoEmpleado }} hs.</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>